body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.container-one {
    background-color: #1f2937;
    height: 500px; 
}

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 300px;
    padding-right: 80px;
    padding-top: 20px;
}

.header-left {
    color: #f9faf8;
    font-size: 24px;
}

.header-right {
    padding-top: 10px;
    gap: 15px;
    display: flex;
}

a {
    text-decoration: none;
    color: white;
}

.top {
    padding-left: 300px;
    padding-right: 80px;
    display: flex;
    justify-content: space-between;
}

.top-left{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
}

.top-left-one {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.top-left-two {
    font-size: 18px;
    color: #e5e7eb;
}

.top-right{
    background-color: gray;
    margin-top: 80px;
    margin-right: 250px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-left-button {
    text-align: right;
}

#b1 {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 15px;
    border-radius: 5px;
    border: solid 1px #3882f6;
}

.container-two {
    background-color: white;
    height: 400px;
}

.c2-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    margin-top: 20px;
}

.c2-p2 {
    padding-top: 30px;
}

.c2-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 45px;
}

.c2-box {
    border: 2px solid #3882f6;
    width: 150px;
    height: 150px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.c2-description-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
}

.c2-desc {
    width: 150px; 
    text-align: center
}

.container-three {
    background-color: #e5e7eb;
    height: 300px;   
}

.container-four {
    background-color: white;
    height: 200px;
}

.container-five {
    background-color: #1f2937;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    color: white;
    font-size: large;
}

